<a href="https://colab.research.google.com/github/KimDukPark/code_3rd/blob/main/CTC_7_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. 사용자로부터 3개의 값(x,y,z)을 입력받아서 각각 1씩 증가되고, 출력되는 코드작성

In [1]:
x = int(input( " x의 값을 입력사시오.: "))
y = int(input( " y의 값을 입력하시오.:"))
z = int(input( " z의 값을 입력하시오.:"))
x = x+1
y = y+1
z = z+1
print(f'x의 값은 (x)이며, y의 값은 (y)이고, z의 값은 4이다.')

 x의 값을 입력사시오.: 1
 y의 값을 입력하시오.:2
 z의 값을 입력하시오.:3
x의 값은 (x)이며, y의 값은 (y)이고, z의 값은 4이다.

2. 알바생의 시급과 시간을 계산하여 월급을 출력한 코드

In [11]:
hours_worked  =  int(input("일한 시간을 입력하시오.: "))
pay_rate  =  int(input("시급을 입력하시오(23기준 9620원): "))
monthly_pay  =  hours_worked  *  pay_rate
print(f'일한 시간은 {hours_worked}이고, 시급은 {pay_rate}이며, 월급여는 {monthly_pay}원 입니다.')

일한 시간을 입력하시오.: 10
시급을 입력하시오(23기준 9620원): 9620
일한 시간은 10이고, 시급은 9620이며, 월급여는 96200원 입니다.

3. 환율을 계산하는 코드작성

 - 원의 변수는 won
 - 달러의 변수는 used
 - 환전의 변수는 exchange

In [12]:
won = int(input("환전할 금액을 입력(kor)"))
used = int(input("현재의 달러의 환을 입력(231031: 1372)"))
exchange = won + used
print(f'환전할 금액은 {won}이며, 달러의 금액은 {used}이고, 환전금액은 {exchange}입니다.')

환전할 금액을 입력(kor)5000
현재의 달러의 환을 입력(231031: 1372)1372
환전할 금액은 5000이며, 달러의 금액은 1372이고, 환전금액은 6372입니다.

4.화씨(fahrenheit)를 섭씨(celcius)로 변환하는 코드작성

In [15]:
fahrenheit = int(input("화씨온도를 입력하시오."))
celcius = (fahrenheit - 32)/1.8
print(f'화씨온도는 {fahrenheit}또는, 섭씨 {celcius}도 입니다.')

화씨온도를 입력하시오.100
화씨온도는 100또는, 섭씨 37.77777777777778도 입니다.

In [16]:
celcius = float(input(" 섭씨온도를 입력하시오. :"))
fahrenheit = (celcius * 1.8) + 32
print(f'섭씨온도는 {celcius}또는, 화씨 {fahrenheit}도 입니다.')

 섭씨온도를 입력하시오. :37.77777777777778
섭씨온도는 37.77777777777778또는, 화씨 100.0도 입니다.

5. 사용자로부터 2개의 정수를 받아서 합계를 출력

In [19]:
print(" 정수 2개를 입력하시오.")
x = int(input("x의 값을 입력하시오."))
y = int(input("y의 값을 입력하시오."))
sum = x + y
print("합계:", sum)

 정수 2개를 입력하시오
x의 값을 입력하시오.1
y의 값을 입력하시오.2
합계: 3

6. 부가세 계산

In [20]:
print("상푸의 가격을 입력하시오.")
price = int(input("가격:"))
vat = price * 0.1
print("부가세",vat)

상푸의 가격을 입력하시오.
가격:50
부가세 5.0